// Main header navbar font family
.menu-primary ul li a {
	font-family: $font__nav;
}
// Top header navbar font family
.menu-secondary ul li a {
	font-family: $font__top-nav;
}
@include media-breakpoint-up($breakpoint__mobile-nav) {
	.navbar-toggle {
		display: none !important; // hide hamburger on larger devices
	}
	.navbar-nav {
		@include justify-content(center);
	}
	.navbar-nav .dropdown-menu.show {
		position: absolute; // dropdown ignore width
	}
}
