// Site meta removed
.site-title, .site-description {
  display: none;
}
// Header default design
.site-header {
  background-color: $color__background-header;
  -webkit-box-shadow: 0px 3px 64px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 64px -17px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 64px -17px rgba(0,0,0,0.75);
}
// Logo position above header row
.site-branding {
  z-index: 1;
}
// Header apply flex
#main-header .container {
  @include flexbox;
  @include align-items(center); // vertical middle elements
  @include justify-content(center); // mobile center logo
}
// ----- Logo size
// Default
.custom-logo-link {
  width: 100%;
}
// Mobile header logo size
.custom-logo-link {
  max-width: $size__logo-mobile-x;
}
.custom-logo-link img {
  max-width: $size__logo-mobile-x;
  max-height: $size__logo-mobile-y;
}

@include media-breakpoint-up($breakpoint__mobile-nav) {
  // Header enclose child contents
  .site-header .container {
    position: relative;
  }
  // Header widget margin padding reset
  .site-header .header-widget .widget {
    margin: 0;
  }
  // ----- Logo size
  // PC header logo size
  .custom-logo-link {
    max-width: $size__logo-pc-x;
  }
  .custom-logo-link img {
    max-width: $size__logo-pc-x;
    max-height: $size__logo-pc-y;
  }
}
@include media-breakpoint-down(md) {
  .navbar {
    top: 0;
    left: 0;
  }
}
