@import "default";

/*--------------------------------------------------------------
## Header background: block / transparent
--------------------------------------------------------------*/
// @import "transparent";

/*--------------------------------------------------------------
## Logo position: logo-center / logo-right
--------------------------------------------------------------*/
@import "logo-left";
// @import "logo-center";
// @import "logo-right";

/*--------------------------------------------------------------
## Header on scroll: block / fixed
--------------------------------------------------------------*/
@import "fixed";

/*--------------------------------------------------------------
## Top header
--------------------------------------------------------------*/
// @import "top-header";

/* ----- Theme ----- */

// ----- Mobile ----- //

// Option - on scroll fixed header height
.header-sticky-height {
  // height: 61.42px;
}
// Top header removed
#top-header {
  display: none;
}
// Header height
#main-header .container {
  height: 70px;
}
// Header element flex width
// Logo column
.site-branding {
  flex: 0 0 10%;
}
// Nav primary column
.navbar-primary {
  flex: 1 0 70%;
}
// Nav secondary column
.navbar-secondary {
  flex: 0 0 20%;
}

@include media-breakpoint-up($breakpoint__mobile-nav) {

}
