@import "default";

/*--------------------------------------------------------------
## Header background: block / transparent
--------------------------------------------------------------*/
// @import "transparent";

/*--------------------------------------------------------------
## Logo position: logo-center / logo-right
--------------------------------------------------------------*/
@import "logo-left";
// @import "logo-center";
// @import "logo-right";

/*--------------------------------------------------------------
## Header on scroll: block / fixed
--------------------------------------------------------------*/
@import "fixed";

/*--------------------------------------------------------------
## Top header
--------------------------------------------------------------*/
// @import "top-header";

/* ----- Theme ----- */

// Remove top header
#top-header {
  display: none;
}
// Option - on scroll fixed header height
.header-sticky-height {
  // height: 61.42px;
}
// Mobile logo size: responsive % / fixed unit
.custom-logo-link {
  max-width: 16rem;
}
// Mobile fixed header logo size
.site-header.sticky .custom-logo-link {
  max-width: 16rem;
}
// Mobile logo layout
.site-branding {
  padding: 20px 0; // logo spacing top & bottom
}

@include media-breakpoint-up($breakpoint__mobile-nav) {
  // PC logo size
  .custom-logo-link {
    max-width: 100px;
  }
  // PC fixed header logo size
  .site-header.sticky .custom-logo-link {
    max-width: 100px;
  }
  // Main header navbar positioning
  #main-header .navbar {
    padding: 14px 0 0; // top spacing
  }
}
