// ----- Top header design ----- //
#top-header {
    border-top: 5px solid #0d1d74;    
}
// Top header apply flex
#top-header .container {
    @include flexbox;
}
// Mobile widget remove margin
#top-header .header-widget .widget_text {
    margin: 0;
}
// Mobile hide widget text
#top-header .header-widget p {
    display: none;
}
@include media-breakpoint-up(md) {
    // Tablet++ insert here
}
@include media-breakpoint-up($breakpoint__mobile-nav) { // <- set bootstrap mobile menu breakpoint
    // Top header properties
    #top-header {
        background-color: $color__background-top-header;
        // border-bottom: 2px solid #034a99;
        height: 1.75rem;
    }
    // Top header hide on fixed header scroll
    .site-header.sticky #top-header {
        display: none;
    }
    // Top header text widget design
    #top-header .widget-area p {
        display: block;
        font-size: .69rem;
        font-weight: 900;
        margin-bottom: 0;
        margin-top: .2rem;
    }
    // Top header widget positioning
    #header-widget-1 {
        margin-left: 100px;
        flex-basis: 100%;
    }
    // Top header navbar-nav menu align right
    #top-header .navbar .navbar-nav {
    @include flex-just(flex-end);
    }
    // Secondary nav divider logged out
    #top-header .navbar .navbar-nav li:not(:first-child):before {
        display: block;
        position: absolute;
        top: .5rem;
        right: 4rem;
        width: 1px;
        height: .5rem;
        background-color: #808080;
        content: '';
    }
    // Secondary nav divider logged in
    body.logged-in #top-header .navbar .navbar-nav li:not(:first-child):before {
        right: 4.65rem;
    }
}