/*--------------------------------------------------------------
** Light Website Color theme

* Primary color
Blue
#034a99

* Secondary color



* Accent Color
Orange
#d2811e

--------------------------------------------------------------*/

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-top-header: #f2f2f2;
$color__background-header: #fff;
$color__background-header-sticky: #fff;
$color__background-footer: #f9f9f9;
$color__background-colophon: #e9e9e9;
$color__background-nav: initial;
$color__background-nav-dropdown: initial;
$color__background-nav-dropdown-hover: #f9f9f9;
$color__background-nav-dropdown-active: #f9f9f9;
$color__background-row2: #696156; // row 2 background color
$color__background-row4: #0d1d74; // row 4 background color == primary color

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #444; // a font color
$color__link-hover: #0d1d74;
$color__link-visited: #444;
$color__text-title: #333; // title font color
$color__text-subtitle: #666; // subtitle font color
$color__text-main: #333; // body font color
$color__text-sub: #9a9999; // body font color light
$color__text-footer: #333; // footer font color
$color__text-colophon: #969696; // colophon font color
$color__text-nav: #444; // lg+ main nav font color
$color__text-nav-hover: #ccc;
$color__text-nav-dropdown: #444; // lg+ main nav dropdown font color
$color__text-nav-dropdown-hover: #0d1d74;
$color__text-nav-dropdown-active: #f9f9f9;

// border color scheme
$color__border-primary: #0d1d74;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-footer: #fff;
$color__border-colophon: #fff;

// mobile design
$color__background-mobile-menu-wrapper: #23282d;
$color__background-mobile-menu-inner: #23282d;
$color__background-mobile-menu-dropdown: #32373c;
$color__background-mobile-menu-list-hover: #191e23;
$color__background-mobile-menu-list-active: #d2811e;
$color__background-mobile-menu-list-2-hover: #32373c;
$color__background-mobile-menu-list-2-active: #32373c;

$color__link-mobile-menu-list: #eee;
$color__link-mobile-menu-list-hover: #d2811e;
$color__link-mobile-menu-list-active: #fff;
$color__link-mobile-menu-list-2-hover: #d2811e;
$color__link-mobile-menu-list-2-active: #fff;
