// set logo size - mobile
$size__logo-mobile-x: 69px;
$size__logo-mobile-y: 69px;

// set logo size - mobile fixed header
$size__logo-mobile-fixed-x: 69px;
$size__logo-mobile-fixed-y: 69px;

// set logo size - pc
$size__logo-pc-x: 80px;
$size__logo-pc-y: 80px;

// set logo size - pc fixed header
$size__logo-pc-fixed-x: 80px;
$size__logo-pc-fixed-y: 80px;
