// ----- Internet Explorer Fixes
body {
  -ms-overflow-style: none;
}
// Object fit fix
img {
  object-fit: cover;
  font-family: 'object-fit: cover;';
}
// Bootstrap flex menu bug fix
.navbar :not(.show).collapse {
  max-height: 4em; /* menu height overflow fix */
}
@media (min-width: 992px) {
  .navbar :not(.show).collapse {
    margin: 0 auto; /* menu centering fix */
  }
}
